@import "../base/base"
@import "../base/fonts"
@import "../blocks/header"
@import "../blocks/footer"
.swiper-container
  position: relative
  overflow: hidden
  width: 100%
button
  padding: 0
  background: unset
  border: unset
.main
  padding: 0
  .main_cont
    max-width: 1920px
    width: 100%
    margin: 0 auto
    .main_cont_swiper
      width: 100%
      max-width: 1264px
      margin: 0 auto
      .swiper-pagination
        padding-left: 80px
        width: 100%
        left: 50%
        transform: translateX(-50%)
        display: flex
        justify-content: flex-start
        bottom: 36px
        align-items: center
        .swiper-pagination-bullet
          width: 10px
          display: block
          height: 10px
          margin: 0
          margin-right: 10px
          background: #FFFFFF
          opacity: 1
          position: unset
          transition: all 0.5s
          border-radius: 50%
        .swiper-pagination-bullet-active
          width: 28px
          height: 10px
          background: #FD7F36
          border-radius: 10px
      .swiper-slide
        padding: 21px 95px 36px
        padding-left: 80px
        max-width: 1264px
        background: #EFEFEF
        width: 100%
        .main_cont_swiper_item
          width: 100%
          position: relative
          display: flex
          justify-content: space-between
          align-items: center
          .main_cont_swiper_item_text
            max-width: 585px
            width: 100%
            h2
              font-family: Circe
              font-style: normal
              font-weight: 800
              font-size: 30px
              line-height: 36px
              letter-spacing: 0.08em
              text-transform: uppercase
              color: #000000
              margin-bottom: 16px
              span
                color: #FF650C
            p
              max-width: 409px
              font-family: Circe
              font-style: normal
              font-weight: normal
              font-size: 20px
              line-height: 28px
              color: #000000
              opacity: 0.6
          .main_cont_swiper_item_img
            max-width: 467px
            width: 100%
            height: 433px
            img
              object-fit: contain
              height: 100%
              width: 100%
.catalog
  padding: 0 40px 80px
  .catalog_cont
    max-width: 1364px
    width: 100%
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    button
      padding: 0
      margin: 0
      background: unset
      border: unset
      svg
    .catalog_cont_slider
      .swiper-slide
        max-width: 632px
        width: 100%
        .catalog_cont_slider_item
          height: 100%
          width: 100%
          display: flex
          justify-content: space-between
          align-items: stretch
          .catalog_cont_slider_item_img
            width: 100%
            height: 100%
            max-width: 247px
            img
              width: 100%
              height: 100%
              object-fit: cover
          .catalog_cont_slider_item_text
            max-width: 385px
            width: 100%
            padding: 33px 42px 76px
            position: relative
            h4
              font-family: Circe
              font-style: normal
              font-weight: bold
              font-size: 24px
              line-height: 28px
              color: #000000
              margin-bottom: 8px
            p
              font-family: Circe
              font-style: normal
              font-weight: 300
              font-size: 14px
              line-height: 24px
              color: #000000
            a
              display: flex
              justify-content: flex-start
              align-items: center
              position: absolute
              left: -98px
              bottom: 31px
              font-family: Circe
              font-style: normal
              font-weight: bold
              font-size: 14px
              line-height: 21px
              color: #FF650C
              svg
                margin-right: 26px
.services
  padding: 0 40px 80px
  .services_cont
    max-width: 1264px
    width: 100%
    margin: 0 auto
    .services_cont_slider
      width: 100%
      .swiper-wrapper
        width: 100%
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-gap: 16px
        .swiper-slide
          width: auto
          height: auto
          .services_cont_slider_item
            width: 100%
            height: auto
            border: 1px solid #CCCCCC
            position: relative
            padding: 58px 30px 86px
            svg
              display: block
              margin: 0 auto 34px
            h4
              font-family: Circe
              font-style: normal
              font-weight: bold
              font-size: 18px
              line-height: 22px
              text-align: center
              text-transform: uppercase
              color: #000000
              margin-bottom: 10px
            p
              font-family: Circe
              font-style: normal
              font-weight: 350
              font-size: 14px
              line-height: 24px
              text-align: center
              color: #000000
            a
              position: absolute
              left: 50%
              transform: translateX(-50%)
              bottom: 35px
              display: flex
              justify-content: center
              align-items: center
              font-family: Circe
              font-style: normal
              font-weight: bold
              font-size: 14px
              line-height: 17px
              color: #FF650C
              svg
                margin-left: 11px
                margin-bottom: 0
    .swiper-pagination-services
      padding-left: 80px
      width: 100%
      left: 50%
      transform: translateX(-50%)
      display: none
      justify-content: flex-start
      bottom: 36px
      align-items: center
      .swiper-pagination-bullet
        width: 10px
        display: block
        height: 10px
        margin: 0
        margin-right: 10px
        background: #FFFFFF
        opacity: 1
        position: unset
        transition: all 0.5s
        border-radius: 50%
      .swiper-pagination-bullet-active
        width: 28px
        height: 10px
        background: #FD7F36
        border-radius: 10px
.forms
  padding: 44px 40px 60px
  margin-bottom: 80px
  background: #F5F6F6
  .forms_cont
    max-width: 1265px
    width: 100%
    margin: 0 auto
    .forms_cont_tabs
      width: 100%
      margin-bottom: 28px
      display: flex
      justify-content: flex-start
      align-items: center
      border-bottom: 1px solid #CCCCCC
      .formstabbtn
        width: max-content
        padding: 0 5px
        margin-right: 40px
        background: unset
        border: unset
        padding-bottom: 12px
        border-bottom: 3px solid transparent
        transition: all 0.5s
        font-family: Circe
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 28px
        color: #747474
        &:last-child
          margin-right: 0
      .active
        border-bottom: 3px solid #FF650C
        font-family: Circe
        font-style: normal
        font-weight: bold
        font-size: 20px
        line-height: 28px
        color: #FF650C
    .forms_cont_box
      width: 100%
      .forms_cont_box_item
        width: 100%
        display: none
        .forms_cont_box_item_btn
          display: none
          svg
        .forms_cont_box_item_hide
          width: 100%
          .forms_cont_box_item_title
            width: 100%
            margin-bottom: 28px
            h4
              font-family: Circe
              font-style: normal
              font-weight: bold
              font-size: 20px
              line-height: 36px
              color: #000000
            p
              margin: 12px 0 0
              font-family: Circe
              font-style: normal
              font-weight: normal
              font-size: 16px
              line-height: 24px
              color: #000000
              display: block
            a
              font-family: Circe
              font-style: normal
              font-weight: normal
              font-size: 16px
              line-height: 24px
              color: #FF650C
              display: block
          .forms_cont_box_item_form
            padding: 40px
            background: #EFEFEF
            h3
              margin-bottom: 24px
              font-family: Circe
              font-style: normal
              font-weight: 800
              font-size: 28px
              line-height: 40px
              color: #000000
            .forms_cont_box_item_form_inputs
              width: 100%
              display: flex
              margin-bottom: 24px
              justify-content: space-between
              align-items: center
              label
                max-width: 385px
                width: 100%
                display: block
                p
                  font-family: Circe
                  font-style: normal
                  font-weight: normal
                  font-size: 16px
                  line-height: 24px
                  color: #000000
                  span
                    font-family: Circe
                    font-style: normal
                    font-weight: normal
                    font-size: 16px
                    line-height: 24px
                    color: #A94442
                input
                  width: 100%
                  margin-top: 4px
                  background: #FFFFFF
                  border: unset
                  height: 50px
                  padding: 0 16px
                  font-family: Circe
                  font-style: normal
                  font-weight: normal
                  font-size: 16px
                  line-height: 24px
                  color: #737373
            .forms_cont_box_item_form_photo
              width: 100%
              p
                font-family: Circe
                font-style: normal
                font-weight: bold
                font-size: 20px
                line-height: 36px
                margin-bottom: 16px
                color: #000000
              .forms_cont_box_item_form_photo_flex
                width: 100%
                display: flex
                justify-content: flex-start
                align-items: center
                margin-bottom: 24px
                .forms_cont_box_item_form_photo_flex_item
                  margin-right: 24px
                  display: flex
                  justify-content: flex-start
                  flex-direction: row-reverse
                  align-items: center
                  p
                    font-family: Circe
                    font-style: normal
                    font-weight: normal
                    font-size: 14px
                    line-height: 20px
                    color: #747474
                    margin: 0
                  button
                    height: 20px
                    margin-right: 8px
              .forms_cont_box_item_form_photo_add
                width: 100%
                display: flex
                justify-content: flex-start
                align-items: center
                label
                  max-width: 184px
                  width: 100%
                  display: block
                  position: relative
                  border: 1px solid #747474
                  height: 50px
                  display: flex
                  justify-content: center
                  align-items: center
                  font-family: Circe
                  font-style: normal
                  font-weight: bold
                  font-size: 12px
                  line-height: 18px
                  text-transform: uppercase
                  color: #747474
                  input
                    position: absolute
                    left: 0
                    top: 0
                    width: 100%
                    height: 100%
                    opacity: 0
                p
                  max-width: 431px
                  width: 100%
                  margin-left: 16px
                  font-family: Circe
                  font-style: normal
                  font-weight: normal
                  margin-bottom: 0
                  font-size: 14px
                  line-height: 20px
                  color: #747474
            .sendformbtn
              margin-top: 24px
              display: block
              max-width: 184px
              width: 100%
              input
                width: 100%
                height: 50px
                border: unset
                cursor: pointer
                background: #FF650C
                font-family: Circe
                font-style: normal
                font-weight: bold
                font-size: 12px
                line-height: 18px
                text-transform: uppercase
                color: #FFFFFF
.goodtoknow
  padding: 0 40px 80px
  .goodtoknow_cont
    max-width: 1265px
    width: 100%
    margin: 0 auto
    .goodtoknow_cont_title
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 28px
      h2
        font-family: Circe
        font-style: normal
        font-weight: 800
        font-size: 28px
        line-height: 40px
        color: #000000
      .btn
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        max-width: 116px
        button
    .goodtoknow_cont_slide
      width: 100%
      .swiper-wrapper
        display: flex
        align-items: stretch
        .swiper-slide
          max-width: 384px
          margin-right: 56px
          height: auto
          .goodtoknow_cont_slide_item
            height: 100%
            display: flex
            justify-content: flex-end
            align-items: flex-start
            flex-direction: column
            img
              width: 100%
            p
              font-family: Circe
              font-style: normal
              font-weight: bold
              font-size: 24px
              line-height: 28px
              margin-top: 16px
              color: #000000
.trademarks
  padding: 28px 40px 28px
  background: #F5F6F6
  .trademarks_cont
    max-width: 1265px
    width: 100%
    margin: 0 auto
    h2
      font-family: Circe
      font-style: normal
      font-weight: 800
      font-size: 28px
      line-height: 40px
      color: #000000
      margin-bottom: 28px
    .trademarks_cont_slide
      width: 100%
      margin-bottom: 28px
      .swiper-wrapper
        .swiper-slide
          max-width: 237px
          width: 100%
          text-align: center
          border-right: 1px solid #CCCCCC
          .trademarks_cont_slide_item
            width: 100%
            text-align: center
            a
              font-family: Circe
              font-style: normal
              font-weight: bold
              font-size: 24px
              line-height: 30px
              color: #707070
        .swiper-slide-active
          .trademarks_cont_slide_item
            a
              font-family: Circe
              font-style: normal
              font-weight: bold
              font-size: 24px
              line-height: 30px
              color: #FF650C
    .catalogbtn
      display: flex
      justify-content: flex-start
      align-items: center
      font-family: Circe
      font-style: normal
      font-weight: bold
      font-size: 14px
      line-height: 21px
      color: #FF650C
      svg
        margin-right: 26px
@media(max-width: 1024px)
  .main
    .main_cont
      .main_cont_swiper
        max-width: 1264px
        .swiper-pagination
          padding-left: 33px
          width: 100%
          bottom: 32px
          .swiper-pagination-bullet
            width: 10px
            height: 10px
            margin-right: 10px
          .swiper-pagination-bullet-active
            width: 28px
            height: 10px
            border-radius: 10px
        .swiper-slide
          padding: 33px 40px 32px
          max-width: 1264px
          .main_cont_swiper_item
            .main_cont_swiper_item_text
              max-width: 585px
              h2
                font-size: 24px
                line-height: 32px
                margin-bottom: 8px
              p
                max-width: 409px
                font-size: 16px
                line-height: 20px
            .main_cont_swiper_item_img
              max-width: 426px
              height: 233px
  .catalog
    padding: 0 0px 68px
    .catalog_cont
      max-width: 1364px
      .catalog_cont_slider
        .swiper-slide
          max-width: 472px
          .catalog_cont_slider_item
            .catalog_cont_slider_item_img
              max-width: 164px
              height: 256px
            .catalog_cont_slider_item_text
              max-width: 308px
              padding: 33px 24px 67px 16px
              h4
                font-size: 16px
                line-height: 24px
                margin-bottom: 8px
              p
                font-size: 14px
                line-height: 20px
              a
                left: -98px
                bottom: 31px
                font-size: 14px
                line-height: 21px
                svg
                  margin-right: 26px
  .services
    padding: 0 40px 68px
    .services_cont
      max-width: 1264px
      .services_cont_slider
        .swiper-wrapper
          grid-template-columns: 1fr 1fr 1fr
          grid-gap: 16px
          .swiper-slide
            .services_cont_slider_item
              padding: 34px 20px 64px
              height: 100%
              svg
                margin: 0 auto 24px
                width: 36px
                height: 36px
              h4
                font-size: 16px
                line-height: 22px
                margin-bottom: 10px
              p
                font-size: 14px
                line-height: 20px
              a
                left: 50%
                transform: translateX(-50%)
                bottom: 34px
                font-size: 14px
                line-height: 17px
                svg
                  margin-left: 11px
                  width: 6px
                  height: 9px
      .swiper-pagination-services
        padding-left: 80px
        left: 50%
        bottom: 36px
        .swiper-pagination-bullet
          width: 10px
          height: 10px
          margin-right: 10px
        .swiper-pagination-bullet-active
          width: 28px
          height: 10px
          border-radius: 10px
  .forms
    padding: 20px 40px 44px
    margin-bottom: 68px
    .forms_cont
      max-width: 1265px
      .forms_cont_tabs
        margin-bottom: 24px
        .formstabbtn
          padding: 0 5px
          margin-right: 36px
          padding-bottom: 8px
          font-size: 16px
          line-height: 24px
        .active
          font-size: 16px
          line-height: 24px
      .forms_cont_box
        .forms_cont_box_item
          .forms_cont_box_item_btn
          .forms_cont_box_item_hide
            .forms_cont_box_item_title
              margin-bottom: 24px
              h4
                font-size: 16px
                line-height: 28px
              p
                margin: 8px 0 0
                font-size: 14px
                line-height: 24px
              a
                font-size: 14px
                line-height: 24px
            .forms_cont_box_item_form
              padding: 28px
              h3
                margin-bottom: 20px
                font-size: 20px
                line-height: 28px
              .forms_cont_box_item_form_inputs
                display: flex
                margin-bottom: 20px
                label
                  max-width: 285px
                  p
                    font-size: 14px
                    line-height: 24px
                    span
                      font-size: 16px
                      line-height: 24px
                  input
                    margin-top: 4px
                    height: 44px
                    padding: 0 16px
                    font-size: 16px
                    line-height: 24px
              .forms_cont_box_item_form_photo
                p
                  font-size: 16px
                  line-height: 28px
                  margin-bottom: 12px
                .forms_cont_box_item_form_photo_flex
                  margin-bottom: 20px
                  .forms_cont_box_item_form_photo_flex_item
                    margin-right: 24px
                    p
                      font-size: 12px
                      line-height: 18px
                    button
                      height: 20px
                      margin-right: 8px
                .forms_cont_box_item_form_photo_add
                  label
                    max-width: 184px
                    height: 50px
                    font-size: 12px
                    line-height: 18px
                  p
                    max-width: 431px
                    margin-left: 16px
                    font-size: 12px
                    line-height: 18px
              .sendformbtn
                margin-top: 24px
                max-width: 184px
                input
                  height: 50px
                  font-size: 12px
                  line-height: 18px
  .goodtoknow
    padding: 0 40px 68px
    .goodtoknow_cont
      max-width: 1265px
      .goodtoknow_cont_title
        margin-bottom: 20px
        h2
          font-size: 20px
          line-height: 28px
        .btn
          max-width: 116px
      .goodtoknow_cont_slide
        .swiper-wrapper
          .swiper-slide
            max-width: 284px
            margin-right: 46px
            .goodtoknow_cont_slide_item
              img
                width: 100%
              p
                font-size: 18px
                line-height: 28px
                margin-top: 12px
  .trademarks
    padding: 24px 40px 24px
    .trademarks_cont
      max-width: 1265px
      h2
        font-size: 20px
        line-height: 28px
        margin-bottom: 20px
      .trademarks_cont_slide
        margin-bottom: 20px
        .swiper-wrapper
          .swiper-slide
            max-width: 221px
            .trademarks_cont_slide_item
              a
                font-size: 18px
                line-height: 28px
          .swiper-slide-active
            .trademarks_cont_slide_item
              a
                font-size: 18px
                line-height: 28px
      .catalogbtn
        font-size: 14px
        line-height: 21px
        svg
          margin-right: 26px
@media(max-width: 694px)
  .main
    .main_cont
      .main_cont_swiper
        max-width: 1264px
        .swiper-pagination
          padding-left: 33px
          width: 100%
          bottom: 32px
          .swiper-pagination-bullet
            width: 10px
            height: 10px
            margin-right: 10px
          .swiper-pagination-bullet-active
            width: 28px
            height: 10px
            border-radius: 10px
        .swiper-slide
          padding: 38px 20px 64px
          max-width: 1264px
          .main_cont_swiper_item
            .main_cont_swiper_item_text
              max-width: 585px
              h2
                font-size: 16px
                line-height: 22px
                margin-bottom: 8px

              p
                max-width: 409px
                font-size: 14px
                line-height: 16px
            .main_cont_swiper_item_img
              max-width: 172px
              height: 163px
              position: relative
              margin-right: -101px
  .catalog
    padding: 0 0px 68px
    .catalog_cont
      max-width: 1364px
      position: relative
      button
        width: 33px
        height: 33px
        background: #F68E56
        svg
          width: 33px
          height: 33px
      .slideprev
        position: absolute
        left: 0
        z-index: 55555
        top: 43px
      .slidenext
        position: absolute
        right: 0
        z-index: 55555
        top: 43px
      .catalog_cont_slider
        z-index: 5
        .swiper-slide
          max-width: 320px
          .catalog_cont_slider_item
            .catalog_cont_slider_item_img
              max-width: 91px
              min-width: 91px
              height: 121px
            .catalog_cont_slider_item_text
              max-width: 229px
              padding: 21px
              h4
                max-width: 137px
                margin: 0 auto
                font-size: 14px
                line-height: 16px
                margin-bottom: 0px
              p
                display: none
                font-size: 14px
                line-height: 20px
              a
                left: -98px
                bottom: 17px
                font-size: 14px
                line-height: 21px
                svg
                  margin-right: 26px
                  width: 117px
  .services
    padding: 0 20px 62px
    position: relative
    .services_cont
      max-width: 1264px

      .services_cont_slider
        .swiper-wrapper
          display: flex
          align-items: stretch
          .swiper-slide
            max-width: 262px
            width: 100%
            .services_cont_slider_item
              padding: 34px 20px 64px
              height: 100%
              svg
                margin: 0 auto 24px
                width: 36px
                height: 36px
              h4
                font-size: 16px
                line-height: 22px
                margin-bottom: 10px
              p
                font-size: 14px
                line-height: 20px
              a
                left: 50%
                transform: translateX(-50%)
                bottom: 34px
                font-size: 14px
                line-height: 17px
                svg
                  margin-left: 11px
                  width: 6px
                  height: 9px
      .swiper-pagination-services
        padding-left: 40px
        left: 50%
        display: flex
        bottom: 40px
        .swiper-pagination-bullet
          width: 10px
          height: 10px
          background: #CCCCCC
          margin-right: 10px
        .swiper-pagination-bullet-active
          width: 28px
          height: 10px
          background: #FD7F36
          border-radius: 10px
  .forms
    padding: 20px 20px 0px
    margin-bottom: 40px
    .forms_cont
      max-width: 1265px
      .forms_cont_tabs
        display: none
      .forms_cont_box
        .forms_cont_box_item
          display: block!important
          .forms_cont_box_item_btn
            display: flex
            height: 56px
            justify-content: space-between
            align-items: center
            border-bottom: 1px solid #CCCCCC
            transition: all 0.5s
            width: 100%
            font-family: Circe
            font-style: normal
            font-weight: normal
            font-size: 16px
            line-height: 24px
            color: #747474
            svg
              transition: all 0.5s
          .activ
            color: #FF650C
            svg
              transform: rotate(-180deg)
          .forms_cont_box_item_hide
            display: none
            .forms_cont_box_item_title
              margin-bottom: 20px
              h4
                font-size: 16px
                line-height: 28px
              p
                margin: 8px 0 0
                font-size: 14px
                line-height: 24px
              a
                font-size: 14px
                line-height: 24px
            .forms_cont_box_item_form
              padding: 16px
              h3
                margin-bottom: 12px
                font-size: 16px
                line-height: 24px
              .forms_cont_box_item_form_inputs
                display: flex
                margin-bottom: 4px
                flex-direction: column
                label
                  margin-bottom: 12px
                  max-width: unset
                  p
                    font-size: 14px
                    line-height: 24px
                    span
                      font-size: 16px
                      line-height: 24px
                  input
                    margin-top: 4px
                    height: 44px
                    padding: 0 16px
                    font-size: 16px
                    line-height: 24px
              .forms_cont_box_item_form_photo
                p
                  font-size: 16px
                  line-height: 28px
                  margin-bottom: 8px
                .forms_cont_box_item_form_photo_flex
                  margin-bottom: 16px
                  flex-wrap: wrap
                  .forms_cont_box_item_form_photo_flex_item
                    margin-right: 24px
                    width: max-content
                    p
                      font-size: 12px
                      line-height: 18px
                    button
                      width: 16px
                      height: 16px
                      margin-right: 4px
                      svg
                        width: 16px
                        height: 16px
                .forms_cont_box_item_form_photo_add
                  flex-direction: column
                  label
                    max-width: unset
                    height: 40px
                    margin-bottom: 4px
                    font-size: 12px
                    line-height: 18px
                  p
                    max-width: 431px
                    margin-left: 0px
                    font-size: 12px
                    line-height: 18px
              .sendformbtn
                margin-top: 16px
                max-width: unset
                input
                  height: 40px
                  font-size: 12px
                  line-height: 18px
  .goodtoknow
    padding: 0 20px 40px
    position: relative
    .goodtoknow_cont
      max-width: 1265px
      .goodtoknow_cont_title
        margin-bottom: 20px
        h2
          font-size: 20px
          line-height: 28px
        .btn
          max-width: unset
          position: absolute
          left: 0
          top: 50%
          z-index: 5
          transform: translateY(-50%)
          button
            width: 33px
            height: 33px
            background: #F68E56
            svg
              width: 33px
              height: 33px
              path
                stroke: #FFF!important
      .goodtoknow_cont_slide
        z-index: 2
        .swiper-wrapper
          .swiper-slide
            max-width: 284px
            margin-right: 46px
            .goodtoknow_cont_slide_item
              img
                width: 100%
              p
                font-size: 18px
                line-height: 28px
                margin-top: 12px
  .trademarks
    padding: 16px 20px
    .trademarks_cont
      max-width: 1265px
      h2
        font-size: 20px
        line-height: 28px
        margin-bottom: 12px
      .trademarks_cont_slide
        margin-bottom: 12px
        .swiper-wrapper
          .swiper-slide
            max-width: 133px
            .trademarks_cont_slide_item
              a
                font-size: 18px
                line-height: 28px
          .swiper-slide-active
            .trademarks_cont_slide_item
              a
                font-size: 18px
                line-height: 28px
      .catalogbtn
        font-size: 12px
        line-height: 17px
        width: max-content
        position: relative
        &::after
          content: url("../../img/arrowright.svg")
          position: absolute
          top: 1px
          right: -10px
        svg
          display: none
