extends ../layout/layout.pug

block variables
	- var title = 'Main';

block links
	- var link = 'main.css';

block scripts
	- var js = 'index.js';

block header
	include ../blocks/header.pug

block content
	.imgboxhide
		.images_wedding_gallery_wrapper
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
			.images_wedding_gallery_item
block footer
	include ../blocks/footer.pug
